<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="bg-slate-200">
    <div id="app" class="px-4">
      <div
        class="flex flex-wrap items-end justify-center gap-5 py-5 mt-5 mx-auto border bg-white shadow-xl rounded-xl w-full max-w-screen-md"
      >
        <div
          v-for="item in items"
          :class="item.class"
          class="flex flex-col items-center"
        >
          <span
            v-show="item.count"
            class="flex justify-center items-center bg-pink-600 w-full text-white text-xl font-bold"
            >Bet x{{ item.count }}</span
          >
          <img
            @click="bet(item.id)"
            :src="item.image"
            class="w-52 h-48 p-1 cursor-pointer"
          />
        </div>
      </div>

      <div class="flex justify-center py-4 gap-4">
        <button
          type="button"
          class="text-lg border-2 border-pink-600 rounded-lg px-8 py-2 text-red-600 cursor-pointer hover:bg-pink-600 hover:text-red-200 transition duration-200 ease-linear"
          @click="game()"
        >
          {{ isPlaying ? "Stop" : "Start" }}
        </button>
        <button
          v-show="!isPlaying"
          type="button"
          class="text-lg border-2 border-pink-600 rounded-lg px-8 py-2 text-red-600 cursor-pointer hover:bg-pink-600 hover:text-red-200 transition duration-200 ease-linear"
          @click="clear()"
        >
          Clear
        </button>
      </div>

      <div
        class="flex flex-wrap items-end justify-center gap-5 py-5 mx-auto border bg-white shadow-xl rounded-xl w-full max-w-screen-md"
      >
        <span
          class="flex w-full justify-center text-xl font-semibold text-gray-700"
          >Result</span
        >
        <div
          class="flex flex-wrap justify-center items-center w-full mx-5 gap-5 px-4 sm:px-5 border bg-pink-100 border-pink-300 rounded-lg min-h-[200px]"
        >
          <div v-for="item in result" class="flex-shrink-0">
            <img v-show="item.image" :src="item.image" class="w-52 h-48 p-1" />
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp } = Vue;

      const app = createApp({
        data() {
          return {
            items: [
              {
                id: 1,
                name: "kla",
                count: 0,
                image: "src/klaklok/1.jpg",
                class:
                  "flex flex-col items-center bg-pink-400 hover:bg-pink-600 rounded-lg overflow-hidden",
              },
              {
                id: 2,
                name: "klouk",
                count: 0,
                image: "src/klaklok/2.jpg",
                class:
                  "flex flex-col items-center bg-pink-400 hover:bg-pink-600 rounded-lg overflow-hidden",
              },
              {
                id: 3,
                name: "moun",
                count: 0,
                image: "src/klaklok/3.jpg",
                class:
                  "flex flex-col items-center bg-pink-400 hover:bg-pink-600 rounded-lg overflow-hidden",
              },
              {
                id: 4,
                name: "bongkorng",
                count: 0,
                image: "src/klaklok/4.jpg",
                class:
                  "flex flex-col items-center bg-pink-400 hover:bg-pink-600 rounded-lg overflow-hidden",
              },
              {
                id: 5,
                name: "kdam",
                count: 0,
                image: "src/klaklok/5.jpg",
                class:
                  "flex flex-col items-center bg-pink-400 hover:bg-pink-600 rounded-lg overflow-hidden",
              },
              {
                id: 6,
                name: "trey",
                count: 0,
                image: "src/klaklok/6.jpg",
                class:
                  "flex flex-col items-center bg-pink-400 hover:bg-pink-600 rounded-lg overflow-hidden",
              },
            ],
            intervalId: null,
            result: [],
            isPlaying: false,
            audio: new Audio("src/klaklok/sound/music.mp3"),
          };
        },
        methods: {
          bet(id) {
            this.items.forEach((item) => {
              if (item.id === id) {
                item.count++;
                let clickAudio = new Audio("src/klaklok/sound/click.mp3");
                clickAudio.volume = 0.5;
                clickAudio.play();
              }
            });
          },
          clear() {
            this.items.forEach((item) => {
              item.count = 0;
              item.class =
                "flex flex-col items-center bg-pink-400 hover:bg-pink-600 rounded-lg overflow-hidden";
            });
          },
          game() {
            if (this.isPlaying) {
              this.stopGame();
            } else {
              if (this.items.some((item) => item.count > 0)) {
                this.startGame();
              } else {
                Swal.fire({
                  icon: "error",
                  title: "You have to bet first",
                  text: "Bet First!",
                });
              }
            }
          },
          startGame() {
            this.isPlaying = true;
            this.result = [];
            this.audio.play();

            this.intervalId = setInterval(() => {
              this.items.forEach((item) => {
                item.class =
                  "flex flex-col items-center bg-pink-400 hover:bg-pink-600 rounded-lg overflow-hidden";
              });

              this.result = [];
              for (let i = 0; i < 3; i++) {
                const randomIndex = Math.floor(
                  Math.random() * this.items.length
                );
                const item = this.items[randomIndex];
                this.result.push({
                  id: item.id,
                  image: item.image,
                });
              }

              const randomHighlightIndex = Math.floor(
                Math.random() * this.items.length
              );
              this.items[randomHighlightIndex].class =
                "flex flex-col items-center bg-lime-700 rounded-lg overflow-hidden";
            }, 100);
          },
          stopGame() {
            clearInterval(this.intervalId);
            this.isPlaying = false;
            this.audio.pause();
            this.audio.currentTime = 0;

            // Reset all item classes
            this.items.forEach((item) => {
              item.class =
                "flex flex-col items-center bg-pink-400 hover:bg-pink-600 rounded-lg overflow-hidden";
            });

            // Temporary result storage
            let tempResult = [];
            const userBets = this.items.filter((item) => item.count > 0);
            const nonBets = this.items.filter((item) => item.count === 0);

            // Generate random results
            const randomChance = Math.random() * 100;
            if (randomChance < 20 && nonBets.length > 0) {
              while (tempResult.length < 3) {
                const randomIndex = Math.floor(Math.random() * nonBets.length);
                tempResult.push(nonBets[randomIndex].id);
              }
            } else {
              while (tempResult.length < 3) {
                const randomIndex = Math.floor(Math.random() * 6) + 1;
                tempResult.push(randomIndex);
              }
            }

            // Reset result display
            this.result = [];
            let highlightIndex = 0;

            // Highlight results one by one
            const highlightPromise = new Promise((resolve) => {
              const highlightInterval = setInterval(() => {
                if (highlightIndex < tempResult.length) {
                  const index = tempResult[highlightIndex] - 1;
                  this.items[index].class =
                    "flex flex-col items-center bg-lime-700 rounded-lg overflow-hidden";
                  this.result.push({
                    id: this.items[index].id,
                    image: this.items[index].image,
                  });
                  let clickAudio = new Audio("src/klaklok/sound/success.mp3");
                  clickAudio.volume = 0.5;
                  clickAudio.play();
                  highlightIndex++;
                } else {
                  clearInterval(highlightInterval);
                  resolve();
                }
              }, 500);
            });

            // After results are highlighted
            highlightPromise.then(() => {
              let hasWinningBet = false;
              let names = "";

              // Check if any of the user's bets match the result
              this.items.forEach((item) => {
                if (item.count > 0) {
                  let matchCount = this.result.filter(
                    (result) => result.id === item.id
                  ).length;

                  // If there are matches, display the item name with the bet count
                  if (matchCount > 0) {
                    hasWinningBet = true;
                    names += ` ${item.name} x${item.count}`;
                  }
                }
              });

              // Show winning or losing message
              if (hasWinningBet) {
                Swal.fire({
                  icon: "success",
                  title: "Congratulations!",
                  text: `You have a winning bet!${names}`,
                });
                let successAudio = new Audio("src/klaklok/sound/success.mp3");
                successAudio.volume = 0.5;
                successAudio.play();
              } else {
                Swal.fire({
                  icon: "error",
                  title: "No winning bet!",
                  text: "Better luck next time.",
                });
                let failureAudio = new Audio("src/klaklok/sound/failure.mp3");
                failureAudio.volume = 0.5;
                failureAudio.play();
              }
            });
          },
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
